<p>
<h2> Team Name: <%= Team.find_by(id: params["team_id"]).name%></h2>
</p>

<%= form_for @team_member do |form| %>
  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.order(:last_name), :id, :first_name, { include_blank: true}, {class: "form-control" }%>
  </div>

  <%= form.button 'Save Teammates!', class: "btn btn-success" %>

<% end %>